html {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
}

.curtain {
  width: 100%;
  /* Ensures the component is the full screen width */
  height: 99vh;
  /* We're using this for demo purposes */
  overflow: hidden;
  /* Allows us to slide the panels outside the container without them showing */
}

.curtain__wrapper {
  width: 100%;
  height: 100%;
}

.curtain__panel {
  background: orange;
  width: 50%;
  /* Each panel takes up half the container */
  height: 100vh;
  /* Used for demo purposes */
  float: left;
  /* Makes sure panels are side-by-side */
  position: relative;
  /* Needed to define the z-index */
  z-index: 2;
  /* Places the panels in front of the prize */
  transition: all 2s ease-out;
  /* Animates the sliding transition */
}

.curtain__panel--left {
  transform: translateX(0%);
  background-image: url('https://i.pinimg.com/564x/21/39/51/213951e3b39281264e8b02dea7013925.jpg');
  background-size: cover;
  /* Adjust as needed */

}

.curtain__panel--right {
  transform: translateX(0);
  background-image: url('https://i.pinimg.com/564x/21/39/51/213951e3b39281264e8b02dea7013925.jpg');
  background-size: cover;
  /* Adjust as needed */

}

.curtain__content {
  position: absolute;
  /* Forces the prize position into the container start */
  z-index: 1;
  /* Places the prize behind the panels, which are z-index 2 */
  width: 100%;
  height: 100%;
  background-color: lightblue;

  /* background-image: url("https://i.bandori.party/u/asset/9i5M0ISchool-stage-ioOo0v.png");
  background-size: 100% 100%; */
  /* background-repeat: no-repeat; Prevent repeating the background image */
  /* background-position: center; Center the background image */
}

input[type=checkbox] {
  position: absolute;
  /* Force the checkbox at the start of the container */
  cursor: pointer;
  /* Indicate the curtain is clickable */
  width: 100%;
  /* The checkbox is as wide as the component */
  height: 100%;
  /* The checkbox is as tall as the component */
  z-index: 100;
  /* Make sure the checkbox is on top of everything else */
  opacity: 0;
  /* Hide the checkbox */
}

/* When the checkbox is checked... */

/* Slide the first panel in */
.curtain.clickable {
  cursor: pointer;
}

/* When the clickable class is applied... */
.curtain.opened-curstain .curtain__panel--left {
  transform: translateX(-100%);
}

.curtain.opened-curstain .curtain__panel--right {
  transform: translateX(100%);
}

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.prize {
  position: relative;
  width: 100px;
  height: 100px;
  transition: top 1s ease-in-out;
  animation: myfirst 5s linear 2s alternate;
  cursor: pointer;
}

@keyframes fly-up {
  0% {
    top: 800px;
  }

  100% {
    top: 0px;
  }
}

@keyframes fly-out {
  0% {
    top: 0px;
  }

  100% {
    top:-800px;
  }
}



/* HEART LETTER */

.letter{
  position: relative;
  animation: fly-up 3s linear alternate;
}

.animation-fly-out{
  animation: fly-out 3s linear alternate !important;
  top: -800px;
}

.prize .fly-down {
  transform: translateY(100%);
  top: 100px;
}

.d-none {
  display: none;
}

.domain-expand {
  width: 100vw;
  height: 100vh;
}

.tranlation {
  background-color: lightblue;
  animation: trans 1s linear 2s alternate;
}

@keyframes trans {
  0% {
    opacity: 0%;
  }

  100% {
    opacity: 100%;
  }
}



.wing {
  background: white;
  border-radius: 12px 20px 60px 20px;
  width: 120px;
  height: 50px;
  margin-top: 80px;
  position: absolute;
}

/* right wing */

.right {
  margin-left: -60px;
  left: 50%;
  animation: flap1 1s infinite;
  border-bottom: 3px solid rgba(0, 0, 0, .08);
  border-radius: 12px 20px 60px 20px;
  transform: rotate(-10deg) translate(250px, 0);
}

@keyframes flap1 {
  0% {
    transform: rotate(-10deg) translate(250px, 0);
  }

  50% {
    transform: rotate(-5deg) translate(250px, 0);
  }
}

.right:before {
  position: absolute;
  content: '';
  background: white;
  width: 70%;
  height: 70%;
  border-bottom: 3px solid rgba(0, 0, 0, .08);
  border-radius: 20px 20px 60px 20px;
  transform: rotate(20deg) translate(-1px, 0);
  margin-top: 38px;
}

.right:after {
  position: absolute;
  content: '';
  background: white;
  width: 40%;
  transform: rotate(29deg) translate(-8px, 0);
  height: 30%;
  border-bottom: 3px solid rgba(0, 0, 0, .08);
  border-radius: 0px 0px 60px 70px;
  margin-top: 66px;
}

/* left wing */

.left {
  border-radius: 12px 20px 20px 60px;
  margin-left: -60px;
  left: 50%;
  animation: flap2 1s infinite;
  border-bottom: 3px solid rgba(0, 0, 0, .08);
  transform: rotate(10deg) translate(-248px, 0);
}

@keyframes flap2 {
  0% {
    transform: rotate(10deg) translate(-248px, 0);
  }

  50% {
    transform: rotate(5deg) translate(-248px, 0);
  }
}


.left:before {
  position: absolute;
  content: '';
  background: white;
  width: 70%;
  border-bottom: 3px solid rgba(0, 0, 0, .08);
  transform: translate(46%, 0) rotate(-20deg);
  height: 60%;
  border-radius: 12px 20px 70px 70px;
  margin-top: 40px;
}

.left:after {
  position: absolute;
  content: '';
  background: white;
  width: 40%;
  border-bottom: 3px solid rgba(0, 0, 0, .08);
  height: 30%;
  transform: translate(164%, 0) rotate(-34deg);
  border-radius: 0px 0px 70px 60px;
  margin-top: 58px;
}

/* heart */

.heart {
  position: absolute;
  width: 120px;
  z-index: 99999;
  height: 100px;
  margin-left: -50px;
  left: 50%;
  animation: heart 1s infinite;
  transform: scale(.8);
  transition: .6s;
  margin-top: 60px;

}

.heart:before,
.heart:after {
  content: "";
  width: 50px;
  height: 80px;
  position: absolute;
  left: 50px;
  top: 0;
  border-radius: 50px 50px 6px 6px;
  background: crimson;
  transform: rotate(-45deg);
  transform-origin: 0 100%;
}

.heart:after {
  left: 0;
  transform: rotate(45deg);
  transform-origin: 100% 100%;
}

@keyframes heart {
  0% {
    transform: scale(.8) translate(0, 0);
  }

  50% {
    transform: scale(.92) translate(0, 12px);
  }

  100% {
    transform: scale(.8);
  }
}

/* envelope */

#envelope {
  background: white;
  height: 200px;
  position: relative;
  width: 320px;
  border-radius: 8px;
  overflow: hidden;
  animation: floaty 1s infinite;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}

@keyframes floaty {
  0% {
    transform: translate(0, 0);
  }

  50% {
    transform: translate(0, 12px);
  }
}

/* bottom, left, and right sides */
.sides {
  border-color: transparent #fbfbfb #f7f7f7 #fcfcfc;
  border-style: solid;
  border-width: 90px 170px;
  bottom: 0;
  height: 0;
  left: 0;
  position: absolute;
  width: 0;
}

/* top side */

.top {
  border-color: white transparent transparent;
  border-style: solid;
  border-width: 108px 140px 90px 140px;
  height: 0;
  left: 0;
  position: absolute;
  top: 0;
  transform-origin: 50% 0;
  width: 0;
}



/*Fade in word*/

@keyframes fade-in {
  100% {
    opacity: 1;
    filter: blur(0);
  }
}

.word {
  margin: auto;
  color: white;
  font: 700 normal 2.5em 'tahoma';
  text-shadow: 5px 2px #222324, 2px 4px #222324, 3px 5px #222324;
  z-index: 1;
}